@import url('font.css');

body {
	overflow-y: scroll;
}

#app > div > .container {
	margin-top: 6em;
}

.click-to-edit {
	cursor: pointer;
}
.spacer {
	height: 60px;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	margin-right: 9px;
}
[class^="icon-only"]:before, [class*=" icon-only"]:before {
	margin-right: 0;
}
