@import url('font.css');

body {
	overflow-y: scroll;
}

#app > div > .container {
	margin-top: 6em;
}

.click-to-edit {
	cursor: pointer;
}
.spacer {
	height: 60px;
}

.fa.text-left {
	margin-right: 10px;
}
.fa.text-right {
	margin-left: 10px;
}
