@import url('font.css');

body {
	overflow-y: scroll;
}

#app > div > .container {
	margin-top: 6em;
}

.my-list .placeholder {
	background-color: rgba(255,255,255,0.1);
}

ul.list-hover {
	margin-bottom: 0;
	padding: 2px 4px;
}
ul.list-hover:active,
ul.list-hover:focus,
ul.list-hover:hover {
	background-color: rgba(255,255,255,0.1);
}

.click-to-edit {
	cursor: pointer;
}
.spacer {
	height: 60px;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	margin-right: 9px;
}
[class^="icon-only"]:before, [class*=" icon-only"]:before {
	margin-right: 0;
}
